
@import 'colors';

//Global
* {
    color: $white;
    font-size: 1.2rem;
}
//mixin
// Updated mixin
@mixin center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 120px;
}

.container {
    background-color: $yellow-bright;
    border: 1px solid #000;
    display: flex;
    height: 500px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1em;
    width: 50%;

    .left {
        background-color: $green-dark;
        height: 100%;
        width: 69%;
        position: relative;
        @include center-text;
    }

    .right {
        background-color: $green-light;
        height: 100%;
        position: relative;
        width: 29%;
        @include center-text;

        .button {
            background-color: $yellow-bright;
            color: $green-dark;
            border: 0;
            border-radius: 10px;
            cursor: pointer;
            width: 7em;
            height: 2.5em;
            font-size: 1rem;
            font-weight: bold;
            padding: 0.5em 2em;

            //this is to center content vertically
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -120%);
        }
    }

}